<div class="search_bar">
   <div class="container">
      <form action="/search" class="search_form" role="search" method="POST">

         <input 
            type="search"
            aria-label="search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the site .."
         >
      </form>
      <div id="search_close">close</div>
   </div>
</div>