<div class="author">
   <h1 class="autor_header">Hi, this is aeTech blog</h1>
   <p class="author_body">Tech Company</p>
</div>

<img src="/assets/software-developer.jpg" alt="" class="hero_banner" width="981" height="528">

<section class="articles">
   <h2 class="articles_heading">Latest Post</h2>
   <ul class="article_ul">
      <% data.forEach(post => { %>
         <li>
            <a href="/post/<%= post._id %>">
               <span class=""><%= post.title %></span>
               <span class="article_list_date"><%= post.createdAt.toDateString() %></span>
            </a>
         </li>
      <% }) %>
      
   </ul>

   <a href="/" class="pagination">&lt; View Older Posts</a>
</section>